<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DataBaseUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataBaseUtil.Properties.Settings>
            <setting name="DB_Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DB_Name" serializeAs="String">
                <value>cmcp10</value>
            </setting>
            <setting name="DB_Uid" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB_Pwd" serializeAs="String">
                <value>cccccc</value>
            </setting>
            <setting name="EDB_Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="EDB_Name" serializeAs="String">
                <value>cmcp10</value>
            </setting>
            <setting name="EDB_Uid" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="EDB_Pwd" serializeAs="String">
                <value>cccccc</value>
            </setting>
        </DataBaseUtil.Properties.Settings>
    </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>